<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymoneyServlet</servlet-name>
        <servlet-class>controller.parent.paymoneyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymenthistoryServerlet</servlet-name>
        <servlet-class>controller.parent.paymenthistoryServerlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editreplyServlet</servlet-name>
        <servlet-class>controller.teacher.editreplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent</servlet-name>
        <servlet-class>controller.ViewEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <servlet-class>controller.GoogleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOtpServlet</servlet-name>
        <servlet-class>controller.SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterOTPServlet</servlet-name>
        <servlet-class>controller.EnterOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_otp_register_Servlet</servlet-name>
        <servlet-class>controller.get_otp_register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enter_Otp_RegisterServlet</servlet-name>
        <servlet-class>controller.Enter_Otp_RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.admin.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>controller.admin.account.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.admin.account.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.admin.account.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>controller.admin.account.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListScheduleServlet</servlet-name>
        <servlet-class>controller.admin.schedule.ListScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScheduleServlet</servlet-name>
        <servlet-class>controller.admin.schedule.AddScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <servlet-class>controller.admin.schedule.DeleteScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <servlet-class>controller.admin.schedule.UpdateScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryRespondFormServlet</servlet-name>
        <servlet-class>controller.teacher.HistoryRespondFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListKindergartnerServlet</servlet-name>
        <servlet-class>controller.admin.kindergartner.ListKindergartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKindergartnerServlet</servlet-name>
        <servlet-class>controller.admin.kindergartner.AddKindergartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKindergartnerServlet</servlet-name>
        <servlet-class>controller.admin.kindergartner.DeleteKindergartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateKindergartnerServlet</servlet-name>
        <servlet-class>controller.admin.kindergartner.UpdateKindergartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassServlet</servlet-name>
        <servlet-class>controller.admin.classs.ListClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassServlet</servlet-name>
        <servlet-class>controller.admin.classs.AddClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassServlet</servlet-name>
        <servlet-class>controller.admin.classs.DeleteClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClassServlet</servlet-name>
        <servlet-class>controller.admin.classs.UpdateClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventDetailsServlet</servlet-name>
        <servlet-class>controller.admin.event.ViewEventDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNotificationServlet</servlet-name>
        <servlet-class>controller.admin.notifications.AdminNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTeacherHome</servlet-name>
        <servlet-class>controller.teacher.LoadTeacherHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>controller.teacher.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendancePastServlet</servlet-name>
        <servlet-class>controller.teacher.CheckAttendancePastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterStudentServlet</servlet-name>
        <servlet-class>controller.teacher.FilterStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KidProfile</servlet-name>
        <servlet-class>controller.teacher.KidProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInforPage</servlet-name>
        <servlet-class>controller.teacher.StudentInforPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.teacher.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.teacher.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>controller.teacher.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherProfileServlet</servlet-name>
        <servlet-class>controller.teacher.TeacherProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherNotificationServlet</servlet-name>
        <servlet-class>controller.teacher.TeacherNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkTeacherNotificationReadServlet</servlet-name>
        <servlet-class>controller.teacher.MarkTeacherNotificationReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildDetailServlet</servlet-name>
        <servlet-class>controller.parent.ChildDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildProfileServlet</servlet-name>
        <servlet-class>controller.parent.ChildProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildDetailControl</servlet-name>
        <servlet-class>controller.parent.ChildDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatereplyServlet</servlet-name>
        <servlet-class>controller.teacher.updatereplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildFbServlet</servlet-name>
        <servlet-class>controller.parent.ChildFbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildRegisterServlet</servlet-name>
        <servlet-class>controller.parent.ChildRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildUpdateServlet</servlet-name>
        <servlet-class>controller.parent.ChildUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentUpdateProfileServlet</servlet-name>
        <servlet-class>controller.parent.ParentUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMeetingsServlet</servlet-name>
        <servlet-class>controller.parent.ViewMeetingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentNotificationServlet</servlet-name>
        <servlet-class>controller.parent.ParentNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <servlet-class>controller.parent.MarkNotificationReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>day_class_Servlet</servlet-name>
        <servlet-class>controller.mnage_nutrition.day_class_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMenuServlet</servlet-name>
        <servlet-class>controller.mnage_nutrition.InsertMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMenuServlet</servlet-name>
        <servlet-class>controller.mnage_nutrition.deleteMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMenuServlet</servlet-name>
        <servlet-class>controller.mnage_nutrition.editMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMenuServlet</servlet-name>
        <servlet-class>controller.mnage_nutrition.updateMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informations_ervlet</servlet-name>
        <servlet-class>controller.Information.Informations_ervlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveRequestServlet</servlet-name>
        <servlet-class>controller.teacher.LeaveRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveHistoryServlet</servlet-name>
        <servlet-class>controller.teacher.LeaveHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFormServlet</servlet-name>
        <servlet-class>controller.parent.SendFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryFormServlet</servlet-name>
        <servlet-class>controller.parent.HistoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>controller.teacher.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFormServlet</servlet-name>
        <servlet-class>controller.parent.viewForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespondFormServlet</servlet-name>
        <servlet-class>controller.teacher.RespondFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tutitionfreeServlet</servlet-name>
        <servlet-class>controller.admin.tutitionfree.tutitionfreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editreplyServlet</servlet-name>
        <url-pattern>/editreply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <url-pattern>/googleregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOtpServlet</servlet-name>
        <url-pattern>/sendotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterOTPServlet</servlet-name>
        <url-pattern>/enterotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatereplyServlet</servlet-name>
        <url-pattern>/updatereply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_otp_register_Servlet</servlet-name>
        <url-pattern>/get_otp_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enter_Otp_RegisterServlet</servlet-name>
        <url-pattern>/enter_otp_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryRespondFormServlet</servlet-name>
        <url-pattern>/historyreply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListScheduleServlet</servlet-name>
        <url-pattern>/listschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScheduleServlet</servlet-name>
        <url-pattern>/addschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <url-pattern>/deleteschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <url-pattern>/updateschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListKindergartnerServlet</servlet-name>
        <url-pattern>/listkinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKindergartnerServlet</servlet-name>
        <url-pattern>/addkinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKindergartnerServlet</servlet-name>
        <url-pattern>/deletekinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateKindergartnerServlet</servlet-name>
        <url-pattern>/updatekinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassServlet</servlet-name>
        <url-pattern>/listclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassServlet</servlet-name>
        <url-pattern>/addclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassServlet</servlet-name>
        <url-pattern>/deleteclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClassServlet</servlet-name>
        <url-pattern>/updateclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventDetailsServlet</servlet-name>
        <url-pattern>/vieweventdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNotificationServlet</servlet-name>
        <url-pattern>/adminNotifyTeachers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTeacherHome</servlet-name>
        <url-pattern>/loadteacherhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendancePastServlet</servlet-name>
        <url-pattern>/checkattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterStudentServlet</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KidProfile</servlet-name>
        <url-pattern>/kidprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInforPage</servlet-name>
        <url-pattern>/studentinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherProfileServlet</servlet-name>
        <url-pattern>/teacherprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherNotificationServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkTeacherNotificationReadServlet</servlet-name>
        <url-pattern>/markTeacherRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildDetailServlet</servlet-name>
        <url-pattern>/childdetailservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildProfileServlet</servlet-name>
        <url-pattern>/childprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildDetailControl</servlet-name>
        <url-pattern>/childdetailcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildFbServlet</servlet-name>
        <url-pattern>/childfb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildRegisterServlet</servlet-name>
        <url-pattern>/childregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildUpdateServlet</servlet-name>
        <url-pattern>/childupdateservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentUpdateProfileServlet</servlet-name>
        <url-pattern>/parentupdateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMeetingsServlet</servlet-name>
        <url-pattern>/viewmeetings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentNotificationServlet</servlet-name>
        <url-pattern>/parentNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkNotificationReadServlet</servlet-name>
        <url-pattern>/markRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>day_class_Servlet</servlet-name>
        <url-pattern>/day_class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMenuServlet</servlet-name>
        <url-pattern>/insert_menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMenuServlet</servlet-name>
        <url-pattern>/deleteMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMenuServlet</servlet-name>
        <url-pattern>/editmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMenuServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informations_ervlet</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRequestServlet</servlet-name>
        <url-pattern>/leaverequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveHistoryServlet</servlet-name>
        <url-pattern>/leavehistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFormServlet</servlet-name>
        <url-pattern>/sendform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryFormServlet</servlet-name>
        <url-pattern>/historyform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/updateTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFormServlet</servlet-name>
        <url-pattern>/viewForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespondFormServlet</servlet-name>
        <url-pattern>/respondform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tutitionfreeServlet</servlet-name>
        <url-pattern>/tutitionfree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymoneyServlet</servlet-name>
        <url-pattern>/paymoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymenthistoryServerlet</servlet-name>
        <url-pattern>/paymenthistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
